*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    
}
li{
    list-style: none;
}

header{
    width: 100%;
    background: orange;
    margin-bottom: 20px;
    padding: 20px 30px;
    color: white;
    
}
header a{
    color: wheat;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav ul{
    display: flex;
}
.nav ul li{
    margin: 15px;
}
body{
    padding: 30px;
}



section{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
img{
    height: 250px;
    width: auto;
    margin: 30px;
}
section ul{
    margin: 30px;    
}
section a{
    color: rgb(150, 128, 88);
}
