@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
        }
        a{
            text-decoration: none;
            color: rgb(238, 217, 180);
        }
        header{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            padding: 10px 40px;
            background-color: black;
            position: absolute;
            top: 0;
        }
        .header-left{
            display: flex;
            align-items: center;
        }
        .header_logo{
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
        .header_title{
            font-weight: bold;
            font-size: 1.5rem;
        }
        .header-list{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .header-list li{
            list-style: none;
            margin: 18px;
            color: rgb(238, 217, 180);
            cursor: pointer;
        }
        .header-list li:hover{
            transform: translateY(3px);
            transition: 0.2s;
        }
        .burger_menu img{
            display: none;
            width: 60px;
            height: 60px;
            margin-right: 20px;
            background-color: white;
            border-radius: 10px;
        }
        .inactive{
            display: none;
        }

        /* MEDIA QUERIES */
        @media ( max-width: 700px ){
            header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
            }
            .header-list{
                display: none;
            }
            .burger_menu img{
                display: block;
                width: 30px;
                height: 30px;
            }
            .header_title{
            display: none;
            }
            .header_logo{
            width: 60px;
            height: 60px;
            }
        }